# ==== ENTORNOS VIRTUALES ====
env/
venv/
displays/env/
conectividad/env/
introduccion/env/
leds/env/
motores/env
proyectos/env
sensores/env

# ==== ARCHIVOS TEMPORALES DE PYTHON ====
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/

# ==== ARCHIVOS DE CONFIGURACIÓN LOCAL ====
*.env
*.ini
*.cfg

# ==== ARCHIVOS DE SISTEMA ====
.DS_Store
Thumbs.db

# ==== LOGS ====
*.log

# ==== BACKUPS ====
*.bak
*.tmp
*.swp
